
<ion-header>

	<ion-navbar>
		<ion-title class="text-center">&nbsp;</ion-title>
	</ion-navbar>

</ion-header>

<ion-content padding scroll="false" class="login-content">
	<section class="login-container text-center">
		<div class = "col button-row">
			<button ion-button outline block round color="secondary" ><ion-icon name="logo-facebook" item-left></ion-icon>&nbsp;Login with Facebook</button>
		</div>
    <form [formGroup]="loginForm" (ngSubmit)="submitLogin($event, loginForm.value)" autocomplete="off">
      <ion-list>
        <ion-item *ngIf="error">
          <p class="invalid">{{error}}</p>
        </ion-item>
        <ion-item>
          <ion-label floating>Email</ion-label>
          <ion-input type="text" formControlName="email" required email></ion-input>
        </ion-item>
        <ion-item *ngIf="!loginForm.controls.email.valid  && (loginForm.controls.email.dirty || submitAttempt)">
          <small class="danger">Please enter a valid email.</small>
        </ion-item>

        <ion-item>
          <ion-label floating>Password</ion-label>
          <ion-input type="password" required formControlName="password"></ion-input>
        </ion-item>
        <ion-item *ngIf="!loginForm.controls.password.valid  && (loginForm.controls.password.dirty || submitAttempt)">
          <small class="danger">Password is required field.</small>
        </ion-item>

      </ion-list>

      <div padding>
        <button ion-button color="secondary" type="submit"  block round [disabled]="!loginForm.valid">{{login}}
          <ion-spinner *ngIf="loading"></ion-spinner>
        </button>
      </div>
    </form>
    <div class = "col">
     <span>Don't have an account? </span><strong><a href="#" (click)="signup()">Sign up!</a></strong>
   </div>            
 </section>
</ion-content>
