page-signup {
	.toolbar-background{
		background-color: #333333;
		font-famyly:"Freight Sans";
	}
	
	.text-center{
		text-align:center;
	}

	.toolbar-title{
	text-align:center;
	 text-transform:none;
	 color:#fff;
	}
	.back-button{
		color:#fff;
	}
	.list-ios > .item-block:first-child {
    border-top: 0px;
	}
	.swiper-slide {
            display: block;
    }
    .invalid {
        border: 1px solid #ea6153;
    }

	
}
